*{
    margin: 0px;
    border: 0px;
    padding: 0px;
} /* Configurando o fundo do boy e as suas dimenções */

html, body{
    height: 100%;
}

body{
    background-color: #000000;
    color: #ffffff;
}

main{
    height: 100%;
}

section{
    display: grid;
    grid-template-columns: repeat(5,1fr);

    min-height: 100%;
}

div{
    margin: 7px;
    border: 3px;

    border-width: 3px;
    background: linear-gradient(to bottom, black 21%, #680101 50%, #a30202 90%, #cb0101 100%);
    border-style: solid; 
    border-image: linear-gradient(to bottom, black 15%, #5c0101 30%, #de0303 90%, red 100%) 1;
}