* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}


.card-obra {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 10px;

    background-color: rgba(28, 28, 28, 0.5);

    width: 500px;
    height: 170px;

    margin: 10px;
    padding: 15px;
    border-radius: 7px;    
}

.card-obra img {
    object-fit: cover;

    height: 100%;
    width: 150px;

    border-radius: 7px;
}

.card-obra section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    height: 100%;
}